/**/
@import url(//fonts.googleapis.com/css?family=Signika:400,300,600,700);
/* 'Signika', sans-serif */

@import "../css/reset.css";
@import "../css/grid.css";
@import "../css/superfish.css";
@import "../css/style.css";
@import "../css/initcarousel-1.css";

.project_page {
  background-color: #67904B;
}
.project_page h2 {
  margin-bottom: 30px;
  text-align: left;
  padding-top: 80px;
}
.project_page .meta {
  font-size: 30px;
  padding-left: 5px;
}
#back_btn {
  padding-top: 10px;
  padding-left: 4px;
}
.amazingcarousel-item {
  opacity: 0.8;
  filter: alpha(opacity=80);;
}
.amazingcarousel-item:hover {
  opacity: 1;
  filter: alpha(opacity=100);;
}
#text_body {
  font-size: 20px;
  font-style: normal;
  line-height: 30px;
}
.video { position: relative; }

.video .play_btn {
  position: absolute;
  height: 100px;
  width: 100px !important;
  top: 60px;
  left: 55px;
  opacity: 0.6;
  filter: alpha(opacity=60);
}
footer {
  width: 100%;
  position: fixed;
  bottom: 0;
}
footer .copy {
  color: #FFFFFF;
}