/**/
@import url(//fonts.googleapis.com/css?family=Signika:400,300,600,700);
/* 'Signika', sans-serif */

@import "../css/reset.css";
@import "../css/grid.css";
@import "../css/superfish.css";

input {
	outline:  none !important;
}


html {
	width: 100%;
}

 a[href^="tel:"] {
color: inherit;
text-decoration:none;
}

* {
	-webkit-text-size-adjust: none;
}


body {
	font: 13px/19px  Arial, Helvetica, sans-serif;
	color:#ecedef;
	position:relative;
	min-width:960px;
	background: #E5D952;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	font-family: 'Signika', sans-serif;
	color: #ecedef;
}

h2 {
	font-size: 60px;
	padding-top: 101px;
	line-height: 60px;
	text-align: center;
}

h3 {
	font-size: 48px;
}

p {
	margin-bottom: 19px;
}

img {
	max-width: 100%;
}

address {
	font-style: normal;
}
ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

ul.list{

}

/*links*/

a {
	text-decoration: none;
	color: inherit;
	outline: none;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}

a:hover {
	color: #334960;
	
}

/*header*/

header {
	display: block;
	position: fixed;
	z-index: 999;
	left: 0;
	right: 0;
	top: 0;
	overflow: hidden;
	background-color: #FFFFFF;
	transition: 0.2s ease;
	-o-transition: 0.1s ease;
	-webkit-transition: 0.2s ease;
}
h1 {
	padding-top: 7px;
	float: left;
	z-index: 999;
}
header h1 a {
	display: block;
	overflow: hidden;
	width: 108px;
	height: 43px;
	text-indent: -999px;
	transition: 0s ease;
	-o-transition: 0s ease;
	-webkit-transition: 0s ease;
}
header h1 a img {
	display: block;	
	position: fixed;
	height: 60px;
	padding-left: 10px;
}

/*Content*/
.content {
	padding-top: 125px;
	text-align: center;
	position: relative;
}
.content:after {
	display: block;
	position: absolute;
	content: '';
	z-index: 1;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 37px 50px 0 50px;
	border-color: #334960 transparent transparent transparent;
	left: 50%;
	margin-left: -50px;
	top: 0;
}
#page2:after {
	border-color: #FFFFFF transparent transparent transparent;
}
#page3:after {
	border-color: #6098AE transparent transparent transparent;
}
#page4:after {
	border-color: #67904B transparent transparent transparent;
}
.sf-menu li a {
	color: #000000;
}
header.page1 .men .hover{
	top: 0;
}
header.page2 .men1 .hover{
	top: 0;
}
header.page3 .men2 .hover{
	top: 0;
}
header.page4 .men3 .hover{
	top: 0;
}
#page1 {
	background-color: #FFFFFF;
}

header.page1 .hover {
	background-color: #939393;
}
#page2 {
	background-color: #6098AE; 
	padding-top: 230px;
	padding-bottom: 500px;
	padding-bottom: 190px;
}
header.page2 {
	background-color: #6098AE;
}
header.page2 .hover {
	background-color: #0A4F65;
}
#page3 {
	background-color: #67904B;
	padding-top: 230px;
}
header.page3{
	background-color: #67904B;
}
header.page3 .hover {
	background-color: #456A2B;
}
#page4 {
	background-color: #E5D952;
}
header.page4{
	background-color: #E5D952;
}
header.page4 .hover {
	background-color: #A39822;
}
.slogan h3 {
	margin-bottom: 30px;
	text-shadow: 3px 3px 2px rgba(150, 150, 150, 1);
}
.text1 {
	font-size: 19px;
	line-height: 19px;
}
.box {
	padding: 23px 0 24px;
	border-top-width: 4px;
	border-bottom-width: 4px;
}
.box img {
	border: 3px solid #BDBDBD;
	border-radius: 10px;
	margin-bottom: 19px;
}
.box .text1 {
	margin-bottom: 1px;
}
.project_item {
	height: 250px;
	background-color: #FFFFFF;
	margin-bottom: 30px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -webkit-box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.75);
}
.project_item .grid_8 {
	border-bottom: 1px solid #BDBDBD;
}
.slogan {
	margin-bottom: 117px;
}
#page3  {
	padding-bottom: 190px;
}
#page3 .box {
	color: #2C2827;
	float: left;
}
#page3 .box img {
	margin-bottom: 21px;
	background-color: #334960;
}
#ptitle {
	font-size: 25px;
	display: block;
	width: 100%;
	padding-top: 30px;
	padding-bottom: 0px;
}
#ptitle p {
	float: left;
}
.pblurb {
	font-size: 14px;
	padding-top: 5px;
	padding-right: 40px;
	padding-bottom: 5px;
}
#pdesc p {
	float: left;
	color: #000000;
	padding-left: 13px;
	padding-top: 5px;
}
#page3 .box .text1 {
	margin-bottom: 16px;
}
#page4 {
	padding-top: 231px;
	padding-bottom: 186px;
}
#page4  h3 {
	margin-bottom: 108px;
}

/****Map***/
.map {
	text-align: left;
	overflow: hidden;
	padding-top: 5px;
}
.map .text1 {
	margin-bottom: 39px;
	color: #444444;
}
.map figure {
	position: relative;
	top: 7px;
	border: 1px solid #3c7f9f;
	width: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
}
.map figure iframe {
	width: 100%;
	height: 218px;
	max-width: 100%;
}
.map a {
	color: #373b47;
}

.map a:hover {
	color: #0D6886;
}
.map address {
	width: 300px;
	font-size: 14px;
	line-height: 21px;
	color: #444444;
}
address dt {
	margin-bottom: 63px;
}
address dd span {
	min-width: 85px;
	display: inline-block;
	text-align: left;
}

/************Footer***********/
footer {
	display: block;
}
footer .copy {
	color: #444444;
	text-align: center;
}
footer a {
	text-decoration: underline;
}
footer a:hover {
	color: #0D6886;
}
.copy {
	color: #e0e8ec;
	padding-top: 29px;
	padding-bottom: 30px;
	font-size: 12px;
	line-height: 24px;
}