{% extends 'admin/model/list.html' %}

{% macro preview_avatar(model, column) %}
{% if model.image != None %}
<img
    {% if model.avatar_url %}
    class="img-thumbnail"
    width="100"
    src="{{ model.avatar_url }}"
    >
    {% endif %}
    {% if model.thumbnail_url %}
    class="img-thumbnail"
    width="100"
    src="{{ model.thumbnail_url }}"
    >
    {% endif %}

{% else %}
No cover image for this project
{% endif %}
{% endmacro %}
{% macro render_markdown(model, column) %}
    {{ model.as_dict()['body']|safe }}
{% endmacro %}