<!DOCTYPE html>
{% extends "base.html" %}
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>
{% block head %}
    {{ super() }}
{% endblock %}

<body>
{% block body %}
    {{ super() }}
  
    <section class="page-top wrap">

      <h2 class="page-section-title">About Us</h2>

    </section><!-- page-top -->
    <div class="zz-bottom"></div>

    <section class="page-content wrap">

      <div class="container">

        <div class="row">

          <div class="col-sm-6 col-md-6">

            <h5 class="widgettitle">What we do</h5>

            <p>Creative Opportunities is a social enterprise that facilitates and encourages creativity amongst young people in London. We create bespoke media content and deliver arts workshops for schools and youth groups based in the community.</p>

            <p>Our user led projects support young people to develop creative processes, freethinking, and technical knowledge under the guidance of industry professionals. We build partnerships with the aim of strengthening and celebrating our diverse London communities.</p>

          </div><!-- col-md-6-->

          <div class="col-sm-6 col-md-6">

            <img class="img-responsive" src="{{ url_for('static', filename='images/painted_hands.png') }}" alt="">

          </div><!-- col-md-6-->

        </div><!--row-->

        <div class="row">

          <div class="col-sm-6 col-md-3 margin-t54">

            <h5 class="service-title"><i class="fa fa-child"></i>Creative Opportunities</h5>

            <p>Our team is comprised of experienced professionals with a proven track record in creative industries, including film, television, music, art, and creative writing. We provide educational opportunities for young people, enhancing understanding of creative practice, its role in professional industries, whilst building technical knowledge of artistic disciplines.</p>

          </div><!-- col-md-3-->

          <div class="col-sm-6 col-md-3 margin-t54">

            <h5 class="service-title"><i class="fa fa-group"></i>Workshops</h5>

            <p>We design and deliver creative workshops on a custom made basis for all levels. Our workshops represent a holistic approach to creative education, and we give authentic experiences of the arts.  Our workshops are inclusive and cover a diverse range of art forms with a natural and accessible approach. Please see our Projects page for more information.</p>

          </div><!-- col-md-3-->

          <div class="col-sm-6 col-md-3 margin-t54">

            <h5 class="service-title"><i class="fa fa-magic"></i>Media</h5>

            <p>Our specialisms in creative and entertainment industries make us the perfect organisation to aid in the creation of media and educational resources, be it developing a creative project from scratch, to consulting on existent or newly forming collaborative works.</p>

          </div><!-- col-md-3-->

          <div class="col-sm-6 col-md-3 margin-t54">

            <h5 class="service-title"><i class="fa fa-tree"></i>Specialists</h5>

            <p>The Creative Opportunities team is made up of specialists in charitable, educational, and creative industries. Our organisation is motivated by a deep desire to encourage creativity and support London communities to gain high quality access to the arts. As young Londoners ourselves we have a deep and personal conviction in our approach. </p>

          </div><!-- col-md-3-->

        </div><!--row-->

      </div><!-- container-->

    </section><!-- page-content-->

{% endblock %}

{% block footer %}
    {{ super() }}
{% endblock %}


    </body>
</html>