<html>
{% block content %}
  <hr>
  {% for project in projects %}
  <p>
    {{ project.title }} <b>{{ project.body }}</b>
    <button type="button" onclick="window.navigate('/admin/project/{{ project.id }})">Update</button>
    <button type="button" onclick="deleteProject({{ project.id }})">Delete</button>
  </p>
  {% endfor %}
{% endblock %}

<script type="text/javascript">
  function deleteProject(projectId) {
    var url = '/admin/project/delete/' + projectId
    xmlHttp = new XMLHttpRequest();
    xmlHttp.open( "POST", url, false );
    xmlHttp.send( null );
    window.location.reload();
    return xmlHttp.responseText;
  }
</script>
</html>