<!DOCTYPE html>
{% extends "base.html" %}
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>
{% block head %}
    {{ super() }}
{% endblock %}

    <body>
{% block body %}
    {{ super() }}
  

        <section class="page-top wrap">

            <h2 class="page-section-title">Mix Album</h2>

        </section><!-- page-top -->
          <div class="zz-bottom"></div>

        <section class="page-content wrap">

        <div class="container">

        <h4 class="gallery-type">Videos</h4>

        <div class="row albums-holder">

        {% for video in project.videos[:4] %}
        <div class="col-md-3 gallery">

        <figure class="img-overlay gal-img">

        <a href="{{ video.video_url }}" class="lightbox" data-rel="prettyPhoto[gallery]">
        <span class="btn-more btn-zoom"></span>
        <img class="img-responsive" src="{{ video.thumbnail_url }}" alt=""></a>
        </figure>

        </div><!--end col-md-3-->
        {% endfor %}

        </div><!--row-->

        <div class="row albums-holder">

        {% for video in project.videos[4:8] %}
        <div class="col-md-3 gallery">

        <figure class="img-overlay gal-img">

        <a href="{{ video.video_url }}" target="_blank">
        <span class="btn-more btn-zoom"></span>
        <img class="img-responsive" src="{{ video.thumbnail_url }}" alt=""></a>
        </figure>

        </div><!--end col-md-3-->
        {% endfor %}

        </div><!--row-->

        <div class="row albums-holder">

        {% for video in project.videos[8:12] %}
        <div class="col-md-3 gallery">

        <figure class="img-overlay gal-img">

        <a href="{{ video.video_url }}" target="_blank">
        <span class="btn-more btn-zoom"></span>
        <img class="img-responsive" src="{{ video.thumbnail_url }}" alt=""></a>
        </figure>

        </div><!--end col-md-3-->
        {% endfor %}

        </div><!--row-->

        <br><br>

        <h4 class="gallery-type">Images</h4>

        <div class="row albums-holder">

        {% for image in project.images[:4] %}
        <div class="col-md-3 gallery">

        <figure class="img-overlay gal-img">

        <a href="{{ image.image_url }}" class="lightbox" data-rel="prettyPhoto[gallery]">
        <span class="btn-more btn-zoom"></span>
        <img class="img-responsive" src="{{ image.thumbnail_url }}" alt=""></a>
        </figure>

        </div><!--end col-md-3-->
        {% endfor %}

        </div><!--row-->

        <div class="row albums-holder">

        {% for image in project.images[4:8] %}
        <div class="col-md-3 gallery">

        <figure class="img-overlay gal-img">

        <a href="{{ image.image_url }}" class="lightbox" data-rel="prettyPhoto[gallery]">
        <span class="btn-more btn-zoom"></span>
        <img class="img-responsive" src="{{ image.thumbnail_url }}" alt=""></a>
        </figure>

        </div><!--end col-md-3-->
        {% endfor %}

        </div><!--row-->

        <div class="row albums-holder">

        {% for image in project.images[8:12] %}
        <div class="col-md-3 gallery">

        <figure class="img-overlay gal-img">

        <a href="{{ image.image_url }}" class="lightbox" data-rel="prettyPhoto[gallery]">
        <span class="btn-more btn-zoom"></span>
        <img class="img-responsive" src="{{ image.thumbnail_url }}" alt=""></a>
        </figure>

        </div><!--end col-md-3-->
        {% endfor %}

        </div><!--row-->

        <div class="row albums-holder">

        {% for image in project.images[12:16] %}
        <div class="col-md-3 gallery">

        <figure class="img-overlay gal-img">

        <a href="{{ image.image_url }}" class="lightbox" data-rel="prettyPhoto[gallery]">
        <span class="btn-more btn-zoom"></span>
        <img class="img-responsive" src="{{ image.thumbnail_url }}" alt=""></a>
        </figure>

        </div><!--end col-md-3-->
        {% endfor %}

        </div><!--row-->

        <div class="row albums-holder">

        {% for image in project.images[16:20] %}
        <div class="col-md-3 gallery">

        <figure class="img-overlay gal-img">

        <a href="{{ image.image_url }}" class="lightbox" data-rel="prettyPhoto[gallery]">
        <span class="btn-more btn-zoom"></span>
        <img class="img-responsive" src="{{ image.thumbnail_url }}" alt=""></a>
        </figure>

        </div><!--end col-md-3-->
        {% endfor %}

        </div><!--row-->

        <div class="row albums-holder">

        {% for image in project.images[24:28] %}
        <div class="col-md-3 gallery">

        <figure class="img-overlay gal-img">

        <a href="{{ image.image_url }}" class="lightbox" data-rel="prettyPhoto[gallery]">
        <span class="btn-more btn-zoom"></span>
        <img class="img-responsive" src="{{ image.thumbnail_url }}" alt=""></a>
        </figure>

        </div><!--end col-md-3-->
        {% endfor %}

        </div><!--row-->

        <div class="row albums-holder">

        {% for image in project.images[28:32] %}
        <div class="col-md-3 gallery">

        <figure class="img-overlay gal-img">

        <a href="{{ image.image_url }}" class="lightbox" data-rel="prettyPhoto[gallery]">
        <span class="btn-more btn-zoom"></span>
        <img class="img-responsive" src="{{ image.thumbnail_url }}" alt=""></a>
        </figure>

        </div><!--end col-md-3-->
        {% endfor %}

        </div><!--row-->

        <div class="row albums-holder">

        {% for image in project.images[32:36] %}
        <div class="col-md-3 gallery">

        <figure class="img-overlay gal-img">

        <a href="{{ image.image_url }}" class="lightbox" data-rel="prettyPhoto[gallery]">
        <span class="btn-more btn-zoom"></span>
        <img class="img-responsive" src="{{ image.thumbnail_url }}" alt=""></a>
        </figure>

        </div><!--end col-md-3-->
        {% endfor %}

        </div><!--row-->

        </div><!-- container-->

        <div class="row albums-holder">

        {% for image in project.images[36:40] %}
        <div class="col-md-3 gallery">

        <figure class="img-overlay gal-img">

        <a href="{{ image.image_url }}" class="lightbox" data-rel="prettyPhoto[gallery]">
        <span class="btn-more btn-zoom"></span>
        <img class="img-responsive" src="{{ image.thumbnail_url }}" alt=""></a>
        </figure>

        </div><!--end col-md-3-->
        {% endfor %}

        </div><!--row-->

        <div class="row albums-holder">

        {% for image in project.images[40:44] %}
        <div class="col-md-3 gallery">

        <figure class="img-overlay gal-img">

        <a href="{{ image.image_url }}" class="lightbox" data-rel="prettyPhoto[gallery]">
        <span class="btn-more btn-zoom"></span>
        <img class="img-responsive" src="{{ image.thumbnail_url }}" alt=""></a>
        </figure>

        </div><!--end col-md-3-->
        {% endfor %}

        </div><!--row-->

        </section><!-- page-content-->

{% endblock %}

{% block footer %}
    {{ super() }}
{% endblock %}

    </body>
</html>