<!DOCTYPE html>
{% extends "base.html" %}
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>
{% block head %}
    {{ super() }}
{% endblock %}

<body>
{% block body %}
    {{ super() }}
  

<section class="page-top wrap">

    <h2 class="page-section-title">Mix Album</h2>

</section><!-- page-top -->
  <div class="zz-bottom"></div>

<section class="page-content wrap">

<div class="container">

<div class="row albums-holder">

<div class="col-md-3 gallery">

<figure class="img-overlay gal-img">

<a href="images/gallery/gallery-1/img-11.jpg" class="lightbox" data-rel="prettyPhoto[gallery]" title="Image 1">
<span class="btn-more btn-zoom"></span>
<img class="img-responsive" src="images/gallery/gallery-1/img-11.jpg" alt=""></a>
</figure>

</div><!--end col-md-3-->

<div class="col-md-3 gallery">

<figure class="img-overlay gal-img">
<a href="images/gallery/gallery-1/img-12.jpg" class="lightbox" data-rel="prettyPhoto[gallery]" title="Image 2">
<span class="btn-more btn-zoom"></span>
<img class="img-responsive" src="images/gallery/gallery-1/img-12.jpg" alt=""></a>
</figure>

</div><!--end col-md-3-->

<div class="col-md-3 gallery">

<figure class="img-overlay gal-img">

<a href="images/gallery/gallery-1/img-13.jpg" class="lightbox" data-rel="prettyPhoto[gallery]" title="Image 3">
<span class="btn-more btn-zoom"></span>
<img class="img-responsive" src="images/gallery/gallery-1/img-13.jpg" alt=""></a>
</figure>

</div><!-- col-md-3-->

<div class="col-md-3 gallery">

<figure class="img-overlay gal-img">

<a href="images/gallery/gallery-1/img-14.jpg" class="lightbox" data-rel="prettyPhoto[gallery]" title="Image 4">
<span class="btn-more btn-zoom"></span>
<img class="img-responsive" src="images/gallery/gallery-1/img-14.jpg" alt=""></a>
</figure>

</div><!--end col-md-3-->

</div><!--row-->


<div class="row albums-holder">

<div class="col-md-3 gallery">

<figure class="img-overlay gal-img">

<a href="images/gallery/gallery-1/img-15.jpg" class="lightbox" data-rel="prettyPhoto[gallery]" title="Image 5">
<span class="btn-more btn-zoom"></span>
<img class="img-responsive" src="images/gallery/gallery-1/img-15.jpg" alt=""></a>
</figure>

</div><!--end col-md-3-->

<div class="col-md-3 gallery">

<figure class="img-overlay gal-img">
<a href="images/gallery/gallery-1/img-16.jpg" class="lightbox" data-rel="prettyPhoto[gallery]" title="Image 6">
<span class="btn-more btn-zoom"></span>
<img class="img-responsive" src="images/gallery/gallery-1/img-16.jpg" alt=""></a>
</figure>

</div><!--end col-md-3-->

<div class="col-md-3 gallery">

<figure class="img-overlay gal-img">

<a href="images/gallery/gallery-1/img-17.jpg" class="lightbox" data-rel="prettyPhoto[gallery]" title="Image 7">
<span class="btn-more btn-zoom"></span>
<img class="img-responsive" src="images/gallery/gallery-1/img-17.jpg" alt=""></a>
</figure>

</div><!-- col-md-3-->

<div class="col-md-3 gallery">

<figure class="img-overlay gal-img">

<a href="images/gallery/gallery-1/img-18.jpg" class="lightbox" data-rel="prettyPhoto[gallery]" title="Image 8">
<span class="btn-more btn-zoom"></span>
<img class="img-responsive" src="images/gallery/gallery-1/img-18.jpg" alt=""></a>
</figure>

</div><!--end col-md-3-->

</div><!--row-->

<div class="row albums-holder">

<div class="col-md-3 gallery">

<figure class="img-overlay gal-img">

<a href="images/gallery/gallery-1/img-19.jpg" class="lightbox" data-rel="prettyPhoto[gallery]" title="Image 9">
<span class="btn-more btn-zoom"></span>
<img class="img-responsive" src="images/gallery/gallery-1/img-19.jpg" alt=""></a>
</figure>

</div><!--end col-md-3-->

<div class="col-md-3 gallery">

<figure class="img-overlay gal-img">
<a href="images/gallery/gallery-1/img-20.jpg" class="lightbox" data-rel="prettyPhoto[gallery]" title="Image 10">
<span class="btn-more btn-zoom"></span>
<img class="img-responsive" src="images/gallery/gallery-1/img-20.jpg" alt=""></a>
</figure>

</div><!--end col-md-3-->

</div><!--row-->

</div><!-- container-->

</section><!-- page-content-->

{% endblock %}

{% block footer %}
    {{ super() }}
{% endblock %}


    </body>
</html>