<!DOCTYPE html>
{% extends "base.html" %}
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>
{% block head %}
    {{ super() }}
{% endblock %}

<body>
{% block body %}
    {{ super() }}

        <section class="page-top wrap">

        <h2 class="page-section-title">Galleries</h2>

        </section><!-- page-top -->
        <div class="zz-bottom"></div>

        <section class="page-content wrap">

            <div class="container">

                <div class="row albums-holder">
                    {% for project in projects[:3] %}
                    <div class="col-md-4 gallery">

                        <figure class="img-overlay gal-img">

                            <a href="gallery/{{ project.id }}">
                                <span class="btn-more btn-link"></span>
                                <img class="img-responsive" src="{{ project.avatar_url }}" alt="">
                            </a>
                        </figure>

                        <h5><a href="gallery/{{ project.id }}">{{ project.title }}</a></h5>
                        <p>( {{ project.images|length }} photos )</p>

                    </div><!--end col-md-4-->
                    {% endfor %}
                </div>

                <div class="row albums-holder">
                    {% for project in projects[3:6] %}
                    <div class="col-md-4 gallery">

                        <figure class="img-overlay gal-img">

                            <a href="gallery/{{ project.id }}">
                                <span class="btn-more btn-link"></span>
                                <img class="img-responsive" src="{{ project.avatar_url }}" alt="">
                            </a>
                        </figure>

                        <h5><a href="gallery/{{ project.id }}">{{ project.title }}</a></h5>
                        <p>( {{ project.images|length }} photos )</p>

                    </div><!--end col-md-4-->
                    {% endfor %}
                </div>

                <div class="row albums-holder">
                    {% for project in projects[6:9] %}
                    <div class="col-md-4 gallery">

                        <figure class="img-overlay gal-img">

                            <a href="gallery/{{ project.id }}">
                                <span class="btn-more btn-link"></span>
                                <img class="img-responsive" src="{{ project.avatar_url }}" alt="">
                            </a>
                        </figure>

                        <h5><a href="gallery/{{ project.id }}">{{ project.title }}</a></h5>
                        <p>( {{ project.images|length }} photos )</p>

                    </div><!--end col-md-4-->
                    {% endfor %}
                </div>

                <div class="row albums-holder">
                    {% for project in projects[9:12] %}
                    <div class="col-md-4 gallery">

                        <figure class="img-overlay gal-img">

                            <a href="gallery/{{ project.id }}">
                                <span class="btn-more btn-link"></span>
                                <img class="img-responsive" src="{{ project.avatar_url }}" alt="">
                            </a>
                        </figure>

                        <h5><a href="gallery/{{ project.id }}">{{ project.title }}</a></h5>
                        <p>( {{ project.images|length }} photos )</p>

                    </div><!--end col-md-4-->
                    {% endfor %}
                </div>

                <div class="row albums-holder">
                    {% for project in projects[12:15] %}
                    <div class="col-md-4 gallery">

                        <figure class="img-overlay gal-img">

                            <a href="gallery/{{ project.id }}">
                                <span class="btn-more btn-link"></span>
                                <img class="img-responsive" src="{{ project.avatar_url }}" alt="">
                            </a>
                        </figure>

                        <h5><a href="gallery/{{ project.id }}">{{ project.title }}</a></h5>
                        <p>( {{ project.images|length }} photos )</p>

                    </div><!--end col-md-4-->
                    {% endfor %}
                </div>

            </div><!-- container-->

        </section><!-- page-content-->

        {% endblock %}

{% block footer %}
    {{ super() }}
{% endblock %}


    </body>
</html>