<!DOCTYPE html>
{% extends "base.html" %}
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>
{% block head %}
    {{ super() }}
{% endblock %}

<body>
{% block body %}
    {{ super() }}

        <section id="slider-home" class="wrap">

            <div class="container"> 
                <div class="row">
                    <div class="col-md-12">

                        <div class="flexslider flexslider-home">
                            <ul class="slides">
                                {% for item in carousel_items %}
                                <li>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="flex-caption">
                                                <h1>{{ item.title }}</h1>
                                                <h6>{{ item.description }}</h6>
                                                <a href="{{ item.read_more_url }}" class="btn-white margin-t32">Read More</a>
                                            </div>
                                        </div><!--.col-md-6-->
                                        <div class="col-md-6">
                                            <div class="flex-img">
                                                <img class="img-responsive" src={{ item.image_url }} />
                                            </div>
                                        </div><!--.col-md-6-->

                                    </div> <!--.row-->
                                </li>
                                {% endfor %}
                            </ul>
                        </div><!--end flexslider-->

                    </div><!--.col-md-12-->
                </div><!--.row-->
            </div><!--.container-->

        </section><!--slider-home-->
        <div class="zz-bottom"></div>

        <section id="home-features" class="wrap margin-t72">

            <div class="container">
                <div class="row">

                    <div class="col-md-4 home-feature">
                        <h5>{{ content.feature_1_title }}</h5>
                        <div class="img-feature"><img class="img-responsive" src="{{ content.feature_1_image_url }}" style="-webkit-border-radius: 100px;-moz-border-radius: 100px;border-radius: 100px;"/></div>
                        <p>{{ content.feature_1_description }}</p>

                        <a href="{{ content.feature_1_read_more_url }}" class="btn-color margin-t32">Read More</a>
                    </div><!--end home-feature-->

                    <div class="col-md-4 home-feature">
                        <h5>{{ content.feature_2_title }}</h5>
                        <div class="img-feature"><img class="img-responsive" src="{{ content.feature_2_image_url }}" style="-webkit-border-radius: 100px;-moz-border-radius: 100px;border-radius: 100px;"/></div>
                        <p>{{ content.feature_2_description }}</p>

                        <a href="{{ content.feature_2_read_more_url }}" class="btn-color margin-t32">Read More</a>
                    </div><!--end home-feature-->

                    <div class="col-md-4 home-feature">
                        <h5>{{ content.feature_3_title }}</h5>
                        <div class="img-feature"><img class="img-responsive" src="{{ content.feature_3_image_url }}" style="-webkit-border-radius: 100px;-moz-border-radius: 100px;border-radius: 100px;"/></div>
                        <p>{{ content.feature_3_description }}</p>

                        <a href="{{ content.feature_3_read_more_url }}" class="btn-color margin-t32">Read More</a>
                    </div><!--end home-feature-->

                </div><!--end row-->
            </div><!--end container-->

        </section><!--home-features-->


        <div class="zz-top"></div>
        <section id="home-play" class="wrap margin-t72">

            <div class="bkg-cover padding-72">

                <h2 class="home-title-section margin-b54">{{ content.mid_page_heading }}</h2>

                <div class="container">

                    <div class="row">

                        <div class="col-md-6">

                            <h4 class="margin-b24">{{ content.mid_page_subheading }}</h4>

                            <p>{{ content.mid_page_text }}</p>

                            <p>{{ content.mid_page_text_2}}</p>

                        </div><!--end col-md-6-->

                        <div class="col-md-6">

                            <div class="home-play-holder clearfix">

                                <div class="home-play-img">

                                    <img src="{{ content.mid_page_feature_1_image_url }}" />

                                </div><!--end home-play-img-->

                                <div class="home-play-text">

                                    <h5 class="margin-b16">{{ content.mid_page_feature_1_title }}</h5>

                                    <p>{{ content.mid_page_feature_1_description }}</p>

                                </div><!--end home-play-text-->

                            </div><!--end home-play-holder-->


                            <div class="home-play-holder clearfix">

                                <div class="home-play-img">

                                    <img src="{{ content.mid_page_feature_2_image_url }}" />

                                </div><!--end home-play-img-->

                                <div class="home-play-text">

                                    <h5 class="margin-b16">{{ content.mid_page_feature_2_title }}</h5>

                                    <p>{{ content.mid_page_feature_2_description }}</p>

                                </div><!--end home-play-text-->

                            </div><!--end home-play-holder-->

                            <div class="home-play-holder clearfix">

                                <div class="home-play-img">

                                    <img src="{{ content.mid_page_feature_3_image_url }}" />

                                </div><!--end home-play-img-->

                                <div class="home-play-text">

                                    <h5 class="margin-b16">{{ content.mid_page_feature_3_title }}</h5>

                                    <p>{{ content.mid_page_feature_3_description }}</p>

                                </div><!--end home-play-text-->

                            </div><!--end home-play-holder-->


                        </div><!--end col-md-6-->

                    </div><!--end row-->

                </div><!--end container-->

            </div><!--bkg-cover-->

        </section><!--home-play-->
        <div class="zz-bottom"></div>

        <section id="home-latest-activity" class="wrap margin-t72">

            <h2 class="home-title-section txt-color margin-b54">Latest Activity</h2>

            <div class="container">

                <div class="row gallery-holder">

                    <div class="col-md-4">

                        <figure class="img-overlay gal-img">

                            <a href="{{ content.latest_activity_image_1_url }} }}" class="lightbox" data-rel="prettyPhoto[gallery]" title="Image 1">
                                <span class="btn-more btn-zoom"></span>
                                <img class="img-responsive" src="{{ content.latest_activity_image_1_url }}" alt="">
                            </a>
                        </figure>

                    </div><!--end col-md-4-->

                    <div class="col-md-4">

                        <figure class="img-overlay gal-img">

                            <a href="{{ content.latest_activity_image_2_url }} }}" class="lightbox" data-rel="prettyPhoto[gallery]" title="Image 1">
                                <span class="btn-more btn-zoom"></span>
                                <img class="img-responsive" src="{{ content.latest_activity_image_2_url }}" alt="">
                            </a>
                        </figure>

                    </div><!--end col-md-4-->

                    <div class="col-md-4">

                        <figure class="img-overlay gal-img">

                            <a href="{{ content.latest_activity_image_3_url }} }}" class="lightbox" data-rel="prettyPhoto[gallery]" title="Image 1">
                                <span class="btn-more btn-zoom"></span>
                                <img class="img-responsive" src="{{ content.latest_activity_image_3_url }}" alt="">
                            </a>
                        </figure>

                    </div><!--end col-md-4-->

                    <div class="alignc"><a href="/galleries" class="btn-color margin-t54">View Gallery</a></div>

                </div><!--end row-->

            </div><!--end container-->

        </section><!--home-latest-activity-->

        <div class="zz-top"></div>
        <section id="home-testimonials" class="wrap margin-t72">

            <div class="bkg-cover padding-72">

                <div class="container">
                    <div class="row">
                        <div class="col-md-12">

                        </div><!-- col-md-12-->

                    </div><!--end row-->

                </div><!--end container-->

            </div><!-- bkg-cover-->

        </section><!-- home-testimonials-->
{% endblock %}

{% block footer %}
    {{ super() }}
{% endblock %}


    </body>
</html>